Package: tvshow-parse
Version: ==version==
Architecture: ==architecture==
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Installed-Size: ==size==
Section: extras
Priority: standard
Description: Parse tv show filenames
